name: CD/CI Workflow

on: [ push ]

jobs:
  check:
    name: Check
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3

      - name: Set up Temurin JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test

      - name: Build with Gradle
        run: ./gradlew build -x test

  release:
    if: startsWith(github.ref, 'refs/tags/')
    name: Create Release
    needs: [ check ]
    runs-on: ubuntu-20.04

    steps:
      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
      - uses: badasintended/autojitpack@v1
        with:
          version: ${{ github.ref_name }}
